<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="aqua">
<form action="./update">
    product pid:<input typr="text" name="t1" value="{{ rec.pid }}"><br>
    product pname:<input typr="text" name="t2" value="{{ rec.pname }}"><br>
    product pcost:<input typr="text" name="t3" value="{{ rec.pcost }}"><br>
    product pmfdt:<input typr="text" name="t4" value="{{ rec.pmfdt|date:"Y-m-d" }}"><br>
    product pexpdt:<input typr="text" name="t5" value="{{ rec.pexpdt|date:"Y-m-d" }}"><br>

    <input type="submit" value="update">


</form>

</body>
</html>